<html>
    <head>
        {% block head %}
        <title>Star Social</title>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" type="text/css"
          href="../../static/social_media/social_media.css">
        {% endblock%}
    </head>
    <body>
    <header class = "bgimg">
        <div class="page-header">
            <h1>Star Social</h1>
        </div>
        <div class = "top-menu">
         {% if user.is_authenticated %}
{#                <a href="{% url 'post_new' %}" class="top-menu"></a>#}
            Hello <a href = {% url 'my_profile' %}>{{ user.username }}</a> Follows:<a href="{% url 'follows' %}">{{ user.follower.count }}</a>  Followers:<a href="{% url 'followers' %}">{{ user.follows.count }}</a>
             <small>(<a href="{% url 'logout_urlpattern' %}">Log out</a>)</small>
            {% else %}
             You do not <a href="{% url 'login_urlpattern' %}">Log in</a>
            {% endif %}
        </div>
		<nav>
            <ul>
                 <li><i class="fas fa-home">
                    <a href="{% url 'homepage_list' %}" >
                        Homepage</a></i></li>
                <li><i class="fas fa-folder-open">
                    <a href="{% url 'my_profile'%}" >
                        My Posts</a></i></li>
                <li><i class="fas fa-heart">
                    <a href="{% url 'my_favorite' %}" >
                        My Favorite Posts</a></i></li>

            </ul>
		</nav>
		<div class="content">
                {% block content %}
                {% endblock %}
        </div>
    </header>
    </body>
</html>