{% extends 'social_media/base1.html' %}
{% block head %}
            <title>Delete Bulletin</title>
            <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            <link rel="stylesheet" type="text/css"
                  href="../../../static/social_media/social_media.css">
        {% endblock %}

{% block content %}
    <form
        action="{{ bulletin.get_delete_url }}"
        method="post">
        {% csrf_token %}
        <post>
            Are you sure that you want to delete
           {{ bulletin }}?

        <a href="{% url 'bulletin_list'%}">Cancel</a>
        <button type="submit">Delete Bulletin</button>
         </post>
    </form>
{% endblock %}