{% extends 'social_media/base1.html' %}
{% block head %}
    <title>Star Social - Homepage</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../../static/social_media/social_media.css">
{% endblock %}
{% block content %}
    <post>
    {% for post in posts %}

            <div class="date">
                {{ post.date }}
            </div>
            {% if post.author == user.username %}
            <p><icon><i class="fas fa-star"></i></icon><a href="{% url 'my_profile' %}" class="comment">{{ post.author }}</a></p>
            {% else %}
            <p><icon><i class="fas fa-star"></i></icon><a href="{% url 'others_profile' pk=post.uid %}" class="comment">{{ post.author }}</a></p>
            {% endif %}
            <p>{{ post.text|linebreaksbr }}</p>
            <p><i class="far fa-comment-dots"> </i>
                <a href="{% url 'post_detail' pk=post.id %}" class="comment">Comments</a></p>
            <p>---------------------------------------------------------</p>
            {% empty %}
        <p>No posts here yet :(</p>
    {% endfor %}
    </post>
{% endblock %}