{% extends 'social_media/base1.html' %}
{% block head %}
    <title>Star Social - Society</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css"
          href="../../static/social_media/social_media.css">
{% endblock %}
{% block content %}
    <post>
    {% for post in posts %}
        <div class="date">
            {{ post.date }}
        </div>
        {% if user.is_authenticated %}
          {% if post.author == user.username %}
            <p><icon><i class="fas fa-star"></i></icon><a href="{% url 'my_profile' %}" class="comment">{{ post.author }}</a></p>
            {% else %}
            <p><icon><i class="fas fa-star"></i></icon><a href="{% url 'others_profile' pk=post.uid %}" class="comment">{{ post.author }}</a></p>
            {% endif %}
        {% else %}
        <p><icon><i class="fas fa-star"></i></icon>{{ post.author }}</p>
        {% endif %}
        <p>{{ post.text|linebreaksbr }}</p>
        <p><i class="far fa-comment-dots"> </i>
            {% if user.is_authenticated %}
                <a href="{% url 'post_detail' pk=post.id %}" class="comment">Comments</a></p>
            {% else %}
                <a href="{% url 'login_urlpattern'  %}" class="comment">Comments</a></p>
            {% endif %}
            <p>---------------------------------------------------------</p>
          {% empty %}
        <p>No posts here yet :(</p>
    {% endfor %}
    </post>
{% endblock %}